@media (min-width: $mobileBreakpoint + 1) {
    .layout-menu-slim {
        .menu-wrapper {
            width: 4.5rem;

            .layout-menu-container {

                .layout-menu {
                    display: flex;
                    flex-direction: column;
                    padding-top: 1rem;
                    overflow-y: visible;
                    flex-grow: 1;

                    > li {
                        position: relative;

                        > a {
                            display: flex;
                            justify-content: center;

                            i {
                                font-size: 1.5rem;
                            }

                            &:hover + .layout-menuitem-tooltip { 
                                display: block;
                            }

                            .layout-submenu-toggler,
                            .layout-menuitem-text {
                                display: none;
                            }
                        }

                        &.layout-root-menuitem {
                            > div {
                                display: none;
                            }
                        }

                        > ul {
                            display: none;
                            position: absolute;
                            top: 0;
                            left: 4.5rem;
                            z-index: 100;
                            padding: .5rem;
                            overflow: auto;
                            max-height: 32rem;
                            min-width: 16.5rem;
                            border-radius: 2px;
                        }

                        &.active-menuitem {
                            > ul {
                                display: block;
                            }
                        }

                        .layout-menuitem-tooltip {
                            display: none;
                            padding: 0 5px;
                            position: absolute;
                            left: 63px;
                            top: 10px;
                            line-height: 1;
    
                            .layout-menuitem-tooltip-text {
                                padding: 6px 8px;
                                font-weight: 700;
                                font-size: 13px;
                                color: $menuTooltipTextColor;
                                min-width: 75px;
                                white-space: nowrap;
                                text-align: center;
                            }
    
                            .layout-menuitem-tooltip-arrow {
                                position: absolute;
                                width: 0;
                                height: 0;
                                border-color: transparent;
                                border-style: solid;
                                top: 50%;
                                left: 0;
                                margin-top: -5px;
                                border-width: 5px 5px 5px 0;
                                border-right-color: $menuTooltipBgColor;
                            }
                        }
                    }
                }

                .layout-inline-menu {

                    .layout-inline-menu-action-panel {
                        padding: 0;
                    }

                    .layout-inline-menu-action,
                    .layout-inline-menu-action-panel {
                        .layout-inline-menu-action, 
                        .layout-inline-menu-action-item {

                            > a {
                                &:hover + .layout-inline-menu-action-tooltip,
                                &:hover + .layout-inline-menu-action-item-tooltip { 
                                    display: block;
                                }
                            }

                            .layout-inline-menu-action-item-tooltip {
                                .layout-menuitem-tooltip {
                                    display: none;
                                    padding: 0 5px;
                                    position: absolute;
                                    left: 63px;
                                    top: 10px;
                                    line-height: 1;
            
                                    .layout-menuitem-tooltip-text {
                                        padding: 6px 8px;
                                        font-weight: 700;
                                        font-size: 13px;
                                        color: $menuTooltipTextColor;
                                        min-width: 75px;
                                        white-space: nowrap;
                                        text-align: center;
                                    }
            
                                    .layout-menuitem-tooltip-arrow {
                                        position: absolute;
                                        width: 0;
                                        height: 0;
                                        border-color: transparent;
                                        border-style: solid;
                                        top: 50%;
                                        left: 0;
                                        margin-top: -5px;
                                        border-width: 5px 5px 5px 0;
                                        border-right-color: $menuTooltipBgColor;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.layout-wrapper {
            .layout-main {
                margin-left: 4.5rem;
            }
        }
    }
}
